@model Serena.Models.DashboardViewModel<UserViewModel>

@{
    ViewData["Title"] = Model.Title;
    // GARANTIA DEFENSIVA
    var sessionId = Model.SessionId;
    var userId = Model.UserId;
}



<div id="dashboard-content" class="container mt-4">

    @switch (Model.ActiveView)
    {
        case DashboardViewType.Login:
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <partial name="_LoginUsuario" model="@Model.CurrentItem" />
                </div>
            </div>
            break;

        case DashboardViewType.Cadastro:
            <partial name="_CadastroCli" model="@Model.CurrentItem" />
            break;

        case DashboardViewType.Atualizacao:
            <partial name="_AtualizacaoCliente" model="@Model" />
            break;

        case DashboardViewType.Exclusao:
            <partial name="_ExclusaoCliente" model="@Model" />
            break;

        default:
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <partial name="_LoginUsuario" model="@Model.CurrentItem" />
                </div>
             </div>
            break;
    }

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/seu-script-acima.js"></script>
}

